# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.manifest


# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# 本地配置 / local config
*.local

.claude

dist-csharp/
dist-csharp-fd/